.fundo-total {
    background: rgb(123,137,175);
    background: linear-gradient(90deg, rgba(123,137,175,1) 0%, rgba(54,68,111,1) 52%, rgba(110,192,186,1) 97%);
}

.titulo-imob {
    color: white;
    text-align: center;
    font-size: 50px;
}

.botao-search{
    color: black;
    background: rgba(110,192,186,1);
}
.rodape-imob{
    color: white;
    text-align: center;
    padding: 5px;
}
.card{
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: solid 2px;
}

.card-footer{
    text-align: center;
}

.footer{
    color: white !important;
}

.footer a{
    color: white;
}
.carousel-item > img {
    width: auto;
    height: 700px; 
}
.card-img{
    width: auto;
    height: 900px; 
}

.form-select{
    
}
