.fundo-total {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(182, 179, 179) 50%, rgba(0, 0, 0, 1) 100%);
}

.titulo-imob {
    color: white;
    text-align: center;
    text-shadow: 5px 2px black;
    font-size: 50px;
}

.botao-search {
    color: black;
    background: rgb(180, 187, 186);
    border-radius: 5px;
}

.card {
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: solid 5px rgb(180, 187, 186);
}

.card-footer {
    text-align: center;
}

.footer {
    color: white !important;
}

.footer a {
    color: white;
}

.carousel-item>img {
    width: auto;
    height: 700px;
}

.card-img {
    width: auto;
    height: 900px;
}

#lb-comprar {
    color: white;
    margin: 5px;
}

.card-img-comprar{
    border: solid 5px rgb(180, 187, 186);
    width: auto;
}

#lista-de-imoveis{
    color: white;
    font-size: larger;
}

#headers-tabela{
    color: rgb(231, 242, 240);
}